<p>crudform works!</p>


<form [formGroup]="mainform">
    <label for="">Enter Name</label>
    <input type="text" formControlName="name">
    <label for="">Gender</label>
    <input type="text" formControlName="gender" >
    <!-- <button (click)="onSubmit()">Submit</button> -->
</form>



<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let items of table">
        <th>{{items.id}}</th>
        <th>{{items.name}}</th>
        <th>{{items.gender}}</th>
        <th>
            <!-- <button (click)="onDelete(items.id)">Delete</button> -->
            <!-- <button (click)="onEdit(items)">Edit</button> -->
            
        </th>
    </tr>
</table>