<h3 style="text-align: center;" class="mt-5">Employee Details</h3>

<div class="container border rounded p-3">
<p>Email is :{{showquery.email}}</p>
<p>Password is :{{showquery.password}}</p>
</div>
<!-- <div class="container justify-content-center">
    <input class="form-control" type="text" 
    placeholder="Search Product Here"
     [(ngModel)]="namesearch">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sr.NO</th>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Product Campany</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Washing Machine</td>
                <td>12000</td>
                <td>Godrej</td>
            </tr>
            <tr>
                <td>2</td>
                <td>T.V</td>
                <td>15000</td>
                <td><span class="badge text-bg-primary">Sony</span></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Refrigerator</td>
                <td>8000</td>
                <td>L.P.G</td>
            </tr>
            <tr *ngFor="let pro of productvariety">
                <td></td>
                <td>{{pro.productname}}</td>
                <td>{{pro.price}}</td>
                <td>{{pro.productcampany}}</td>
            </tr>
        </tbody>
    </table>
</div> -->